* {
    box-sizing: border-box;
}
/* set colors shortcuts */
:root {
    --primary  : #0a0808c5;
    --secondary: #8207a1;
    --tertiary : rgb(56, 211, 146);
    --white    : rgb(255, 255, 255);
    font-size  : 62.5%;
}

body {
    background : #ededed;
    color      : var(--primary);
    margin     : 0;
    padding    : 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color          : var(--secondary);
    display        : flex;
    justify-content: space-between;
    margin         : auto;
    width          : 85%;
}
/* hover over view high score will change style to this */
#view-high-scores:hover {
    cursor: pointer;
    color : var(--tertiary);
}

header h4 {
    padding-left: 20px;
    font-size   : 2rem;
    display     : inline;
}

.timer {
    color        : var(--primary);
    padding-right: 20px;
}

/* main content */

/* all containers style is */
.container {
    padding          : 20px;
    flex-direction   : column;
    width            : 50%;
    margin           : auto;
}

h1 {
    font-size  : 3.0rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
}

.start {
    align-items: center;
    text-align : center;
}

.start h1,
.start p {
    text-align: center;
}

.questions {
    align-items    : flex-start;
    justify-content: flex-start;
    padding        : 40px 20px;
    margin         : auto;
}

.end h1,
.end p {
    text-align    : left;
}

/* input form style in end container */
.end input {
    outline      : thick;
    border-width : 1px;
    padding      : 5px;
    width        : 35%;
    font-size    : 2.2rem;
    border-radius: 5px;
}

/* then input form clicked to input info it will be */
.end input:focus {
    border: 2px solid var(--secondary);
}

/* the elements with class hide will disapear from the page */
.hide {
    display: none;
}

#question {
    text-align : left;
    font-size  : 3.0rem;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

/* Button styling */
.btn {
    background   : var(--secondary);
    color        : var(--white);
    padding      : 10px;
    border-radius: 10px;
    border       : none;
    box-shadow   : 0 3px grey;
    cursor       : pointer;
    margin-top   : 10px;
}

.btn:hover {
    background      : var(--tertiary);
    /* border-radius: 10px; */
    /* box-shadow   : 0 2px grey; */
}

.btn:active {
    box-shadow: 0 0;
}

/* answers buttons */
.btn-grid {
    display           : grid;
    grid-template-rows: repeat(4, auto);
    grid-gap          : 5px;
    margin            : 20px 0;
}

.start-end {
    width     : 25%;
    margin-top: 10px;
}

.answer-btn {
    text-align: left;
    font-size : 3.0vw;
    min-width : 200px;
}

/* styling for answers at the bottom */
#correct,
#wrong {
    font-size : 25px;
    text-align: center;
    color     : rgba(199, 187, 187, 0.8);
    font-style: italic;
    margin    : 0 100px;
}

/* adding a line at the top of answers */
#correct h2,
#wrong h2 {
    border-top : 2px solid rgba(199, 187, 187, 0.8);
    margin     : 0 auto;
    text-align : center;
    padding-top: 5px;
}

/* List for High Scores */

/* ordered list have numbers in the beginning */
ol {
    list-style-type: number;
}

li:nth-child(odd) {
    background: rgba(228, 151, 164, 0.5);
}

li:nth-child(even) {
    color: var(--secondary);
}

li {
    font-size: 4.0vw;
}

/* media query for smaller screens */

@media screen and (max-width: 1024px) {


    .btn {
        width    : 100%;
        font-size: 3.0vw;
    }

    /* .answer-btn {
        height: fit-content;
    } */

    #question {
        font-size: 4.5vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }

}